// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// select2
@import 'select2';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'sidebar';

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.searched-products {
    margin: -0.25rem;
    .card {
        transition: all 0.2s;
        width: 23%;
        box-sizing: border-box;
        @media (max-width: 900px) {
            width: 31%;
        }
        @media (max-width: 768px) {
            width: 48%;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        &:hover {
            img {
                transform: scale(1.04);
            }
        }
    }
}